.favorites-container {
  display: flex;
  height: 100vh;
  overflow: hidden;

  .favorites-container__navigation-container {
    background: linear-gradient(to bottom, $primary-color, $gradient-color-secondary);
    flex: 0 0 300px;
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 20px;

    .login-component__login-card__button {
      margin-left: 20px;
      margin-top: 400px;
      width: 85%;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  .favorites-container__main-content {
    flex: 1;
    overflow-y: scroll;
    padding: 20px;

    .favorite-and-match-btn {
      display: flex;
      justify-content: flex-end;

      div {
        margin: 16px;
      }
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 20px;
    }

    button {
      margin-top: 20px;
      padding: 8px 16px;
      cursor: pointer;
    }

    .dog-info {
      margin-top: 20px;
      text-align: center;

      img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 10px;
      }

      h3 {
        font-size: 1.5rem;
        margin-top: 10px;
      }

      p {
        font-size: 1rem;
        color: #555;
      }

      button {
        margin-top: 10px;
      }
    }

    .no-favorites-message {
      font-size: 1.2rem;
      color: #888;
      text-align: center;
      margin-top: 20px;
    }
  }
}

.navigation-container {
  &__elements {
    display: flex;
    flex-direction: column;
    font-family: '"Bree Serif", serif';
    margin-left: 40px;
    color: white;

    .login-component__heading-icon-container {
      svg {
        margin-top: 0;
      }
    }

    h2 {
      font-size: 36px;
    }

    &-links {
      display: flex;
      flex-direction: column;
      justify-self: center;
      margin-top: 100px;

      a {
        margin-bottom: 40px;
        font-size: 24px;
      }
    }
  }
}

.favorites-container__drawer-navigation-container {
  @media (min-width: 769px) {
    display: none;
  }
}
