body {
    margin: 0;
    padding: 0;
    background-color: #fff; // Ensure background color matches the desired body color
}

.dog-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-top: 20px;
  
    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  
    @media (max-width: 480px) {
      grid-template-columns: 1fr;
    }
  }
  
  .dog-card {
    max-width: 300px;
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  
    img {
      width: 100%;
      height: 200px; // Fixed height for images
      object-fit: cover; // Ensures the image covers the area without distorting the aspect ratio
      border-radius: 8px;
    }
  
    h2 {
      font-size: 1.25rem;
      margin-top: 10px;
    }
  
    p {
      font-size: 1rem;
      color: #555;
    }
  
    button {
      color: white;
      border: none;
      padding: 8px 16px;
      border-radius: 4px;
      cursor: pointer;
    }
  }
  
  button {
    margin-top: 20px;
    padding: 8px 16px;
    background-color: $button-color-primary;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  
    &:hover {
      background-color: $button-color-primary;
    }
  }
  
  .main-feed-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
  
    .main-feed-container__navigation-container {
      background: linear-gradient(to bottom, $primary-color, $gradient-color-secondary);
      flex: 0 0 300px;
      height: 100vh;
      position: sticky;
      top: 0;
      z-index: 10;

      .login-component__login-card__button {
        margin-left: 20px;
        margin-top: 400px;
        width: 85%;
      }

    }
    
    .navigation-container {
        &__elements {
          display: flex;
          flex-direction: column;
          font-family: '"Bree Serif", serif;';
          margin-left: 40px;
          color: white;
    
          .login-component__heading-icon-container {
              svg {
                  margin-top: 0;
              }
          }
    
          h2 {
              font-size: 36px;
          }
    
          &-links {
              display: flex;
              flex-direction: column;
              justify-self: center;
              margin-top: 100px;
    
              a {
                  margin-bottom: 40px;
                  font-size: 24px;
              }
          }
        }

    }
    
  
    .main-feed-container__main-feed-display {
      flex: 1;
      overflow-y: scroll;
      padding: 20px;
      margin: 0 100px;

      h1 {
        margin-bottom: 60px;
      }

      &__filter-sort-controls {
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        &__buttons {
          align-self: center;
        }
      }

      .nex-prev-btn-container {
        margin-top: 40px;
        text-align: center;
      }

    }
  }
  