$primary-color: #300C39;
$gradient-color-secondary: #140626;
$secondary-color: #FBA919;
$card-color: #F6F6F8;
$button-color-primary: #FFA900;
$button-color-secondary: #150133;
$font-color-primary: #7D1F70;